/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}
/* Reuseable components */
.container {
  width: 870px;
  margin: 0 auto;
}
.wrapper {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 25px;
}

/*------
 Header 
-------*/
header {
  width: 100%;
  max-width: 1440px;
  height: 94px;
  background-color: #562eff;
  display: flex;
  margin-bottom: 36px;
}
nav {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.logo-details {
  display: flex;
  align-items: center;
}
.logo-details img {
  width: 40.42px;
  height: 51px;
}
.logo-name {
  font-size: 24px;
  font-weight: 500;
  margin-left: 15.5px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a,
.menu img {
  text-decoration: none;
  color: #ffffff;
  margin-left: 36px;
}
/*----------
 Top Player
-----------*/

.section-title {
  font-size: 24px;
  color: #562eff;
  font-weight: 500;
  margin: 30px 0 30px 0;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
hr {
  width: 98%;
  border: 0.5px solid #d1d1d1;
  margin: 30px 0 30px 0;
}
/*--------
 Top Blog 
---------*/

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-detail {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-title,
.course-title {
  font-size: 20px;
  font-weight: 500;
}

.blog-author {
  color: #d1d1d1;
}

.blog-author a {
  color: #562eff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

/*-------------
 Latest Course 
--------------*/

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.course-img img {
  width: 225px;
  height: 105px;
}
.course-author {
  color: #ed6b4f;
  font-weight: 400;
  font-size: 14.5px;
}
.course-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.filled {
  font-size: 12px;
  color: #ffc014;
}
.unfilled {
  font-size: 12px;
  color: #aeaeae;
  opacity: 0.25;
}

.ratings {
  font-size: 14px;
  color: #aeaeae;
}
.duration {
  background-color: #ffe4e8;
  color: #ff4a60;
  border-radius: 15px;
  padding: 2px 6px;
}

/*-----------
 Media Query 
------------*/

/* Large Device */
@media only screen and (max-width: 1312px) {
}

/* Tablet Device */
@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  nav {
    justify-content: space-evenly;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
    justify-content: center;
  }
  .player-name,
  .blog-detail {
    margin-left: 0;
  }
}

/* Mobile Device */
@media only screen and (max-width: 688px) {
  .container {
    width: 95%;
  }
  nav {
    justify-content: space-evenly;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
    justify-content: center;
  }

  .player img {
    width: 90px;
    height: 90px;
  }
  .player-name,
  .blog-detail {
    margin-left: 0;
  }
}
