/* Global Rules */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Reuseable components */
.container{
    width: 70%;
    margin: 0 auto;
}
h2{
    font-size: 36px;
    color: #562EFF;
    font-weight: 500;
}
/* Top Player */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    margin-left: 16px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

/* Top Blog */

.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.blog-img{
    width: 100%;
}

.